<footer id="footer" class="footer position-relative light-background">
  <div class="container">
    <h3 class="sitename">Seif Derbali</h3>
    <p>Junior Software Engineer</p>
    <div class="social-links d-flex justify-content-center">
      <a href="https://www.linkedin.com/in/seif-derbali"><i class="bi bi-linkedin"></i></a>
      <a href="https://www.github.com/seifderbali"><i class="bi bi-github"></i></a>
      <a href="https://www.instagram.com/seif_derbali"><i class="bi bi-instagram"></i></a>
      <a href="https://www.facebook.com/d.seif7"><i class="bi bi-facebook"></i></a>
    </div>
    <div class="container">
      <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">Seif Derbali</strong> <span>All Rights Reserved</span>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="#">SeifDerbali</a> Distribuited by <a href="#">Seif</a>
      </div>
    </div>
  </div>
</footer>
